/* Font and Text */
@font-face {
    font-family: 'bravura';
    src: url('../fonts/bravura/eot/Bravura.eot');
    src: url('../fonts/bravura/otf/Bravura.otf');
    src: url('../fonts/bravura/svg/Bravura.svg');
    src: url('../fonts/bravura/woff/Bravura.woff');
    src: url('../fonts/bravura/woff/Bravura.woff2');
}

@font-face {
    font-family: 'bravura-text';
    src: url('../fonts/bravura/eot/BravuraText.eot');
    src: url('../fonts/bravura/otf/BravuraText.otf');
    src: url('../fonts/bravura/svg/BravuraText.svg');
    src: url('../fonts/bravura/woff/BravuraText.woff');
}

.bravura {
    font-family: 'bravura', serif;
    font-size: large;
}

.bravura-text {
    font-family: 'bravura-text', serif;
}

.bravura-text.large {
    font-size: large;
}

.hint-text {
    position: relative;
    font-size: x-small;
    color: #9f9f9f;
    background-color: inherit;
    /* Offset from notation on the left */
    top: 3px;
    padding-left: 5px;
}

h1 {
    color: #000000;
    font-family: "bravura-text", serif;
}

/* Top Level Tags */
html {
    position: relative;
    min-height: 100%;
}

ol > li {
    list-style: decimal;
}

/* Classes */

/* Reset Row Padding */
.row {
    padding-left: 0;
}

span.canvas-outer {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 180px;
    height: 110px;
}

span.selected {
    box-shadow: 0 0 10px #34C1C8;
    border-radius: 5px;
}

span.render-error {
    box-shadow: 0 0 10px red;
    border-radius: 5px;
}

span.oth-user {
    box-shadow: 0 0 10px #FFA768;
    border-radius: 5px;
}

canvas {
    padding: 0;
}

canvas.bar-block {
    margin: 0 -5px 0 -5px;
    width:200px;
    height:110px;
    box-shadow: none;
}

canvas.selected {
    margin: -20px -5px 0 -5px;
    width: 200px;
    height: 110px;
}

div.canvas-block {
    padding-top: 1em;
}

#render_block:empty:before {
    content: attr(data-placeholder);
    color: grey;
}

.vex-string-hidden {
    display: none;
}

/* Editor Interface Configuration */
.editor-top {
    height: auto;
    overflow: auto;
    padding-bottom: 200px;
}

.editor-interface {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 200px;
    /* Standard syntax */
    background: #c8ffe2 linear-gradient(#ffffff 1%, #e5f9ef 5%);
    display: flex;
    align-items: center;
}

/* Text Input */
.dynamic-textbox {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Row's items alignment */
.row.justify-content-between {
    display: flex;
    justify-content: space-between;
}

/* -- Comment Styles -- */
.comment-block {
    background: #f7f7f7;
    word-wrap: break-word;
    padding: 1em 1em 1em 1em;
    margin-bottom: 30px;
    border-radius: 10px;
}

.comment-element {
    background: transparent;
    border-bottom: 1px solid #d2d2d2;
    padding: 3px;
}

.comment-user {
    font-weight: bold;
}

.comment-text {
    color: #00bebe;
}

.comment-date {
    color: grey;
    font-size: x-small;
    line-height: 0;
}
/* ----- */

/* -- Button Styles -- */
.btn-group.top-padded {
    padding-top: 15px;
}
/* ----- */

/* -- Chat Box -- */
.chat-box {
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
}

.message-list {
    overflow-y: auto;
    padding: 0 0 5px 0;
    word-wrap: break-word;
}

.message {
    padding: inherit;
}

.hidden {
    display: none;
}

#chatbox-dropdown {
    line-height: 32px;
    padding: 20px;
    margin: 10px;
    min-width: 300px;
    z-index: 1;
}

#canvas-help-menu {
    line-height: 30px;
    padding: 10px;
    min-width: 250px;
    z-index: 1;
}

.edit_users {
    margin: 10px;
}
