:root {
    --background_color: #ffffff;
    --element_color: #33cccc;
    --dark_color: #34383b;
    --light_color: #ebebeb;
}

/* Font and Text */
@font-face {
    font-family: 'bravura';
    src: url('../fonts/bravura/eot/Bravura.eot');
    src: url('../fonts/bravura/otf/Bravura.otf');
    src: url('../fonts/bravura/svg/Bravura.svg');
    src: url('../fonts/bravura/woff/Bravura.woff');
    src: url('../fonts/bravura/woff/Bravura.woff2');
}

@font-face {
    font-family: 'bravura-text';
    src: url('../fonts/bravura/eot/BravuraText.eot');
    src: url('../fonts/bravura/otf/BravuraText.otf');
    src: url('../fonts/bravura/svg/BravuraText.svg');
    src: url('../fonts/bravura/woff/BravuraText.woff');
}

.bravura {
    font-family: 'bravura', serif;
    font-size: large;
}

.bravura-text {
    font-family: 'bravura-text', serif;
}

.bravura-text.large {
    font-size: large;
}

.hint-text {
    position: relative;
    font-size: x-small;
    color: #9f9f9f;
    background-color: inherit;
    /* Offset from notation on the left */
    top: 3px;
    padding-left: 5px;
}

h1 {
    color: #000000;
    font-family: "Lucida Handwriting", serif;
}

/* Top Level Tags */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

ol > li {
    list-style: decimal;
}

/* Classes */

/* Reset Row Padding */
.row {
    padding-left: 0;
}

span.canvas-outer {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 180px;
    height: 80px;
}

span.selected {
    box-shadow: 0 0 10px #ffb200;
    border-radius: 5px;
}

span.render-error {
    box-shadow: 0 0 10px red;
    border-radius: 5px;
}

span.oth-user {
    box-shadow: 0 0 10px green;
    border-radius: 5px;
}

canvas {
    padding: 0;
}

canvas.bar-block {
    margin: -20px -5px 0 -5px;
    width:200px;
    height:110px;
    box-shadow: none;
}

canvas.selected {
    margin: -20px -5px 0 -5px;
    width:200px;
    height:110px;
}

.vex-string-hidden {
    display: none;
}

/* Footer Configuration */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    display: flex;
}

.footer-text {
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

/* Text Input */
.dynamic-textbox {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Row's items alignment */
.row.justify-content-between {
    display: flex;
    justify-content: space-between;
}

.comment-element {
    background: transparent;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 20px;
    margin-bottom: 1%;
    line-height: 20px;
    min-height:20px;
    color: grey;
    border-bottom: #e0e0e0 dotted;
}

.comment.col-sm-4 {
    text-align: right;
}

.btn-group.top-padded {
    padding-top: 15px;
}

#chatbox-dropdown {
    line-height: 32px;
    padding: 20px;
    margin: 10px;
    min-width: 300px;
    z-index: 1;
}

#canvas-help-menu {
    line-height: 30px;
    padding: 10px;
    min-width: 250px;
    z-index: 1;
}

.edit_users {
    margin: 10px;
}