/* Base Colours */
:root {
    --background_color: white;

    --element-faint: #9FC9C7;
    --element-light: #00e3d8;
    --element: #39b6b0;
    --element-dark: #009f98;
    --element-darker: #005C55;
}

/* Overriding navbar defaults for consistent navbar behaviour */
.navbar-default {
    background: var(--element-darker);
    border-radius: 0;
}

.navbar-default .navbar-brand {
    font-weight: 900;
    color: var(--background_color);
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: var(--element-faint);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: var(--element-darker);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    color: white;
}

body {
    background-color: var(--background_color);
    margin-top: 60px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--element-dark);
    text-align: center;
}

form label {
    color: var(--element);
}
}

.create label {
    color: var(--element);
    vertical-align: top;
}

.form-control:focus {
    border-color: var(--element);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--element);
}

.user {
    text-align: center;
}

.avatar img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.btn.btn-lighter {
    background: #F3FEF8;
    border: 1px solid #bbcecf;
    color: #3c3c3c;
}

.btn.btn-lighter:hover {
    background: #21B9B9;
    border: 1px solid #638888;
    color: #ffffff;
}

/* For buttons on light (--background-colour) backgrounds */
.btn.btn-light {
    background-color: var(--background_color);
    border-color: var(--element);
    color: var(--element-dark);
}

.btn.btn-light:hover {
    background-color: var(--element);
    color: var(--background_color);
    border-color: var(--element);
}

.btn.btn-dark {
    background-color: #21B9B9;
    font-weight: 400;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 8px 16px;
    border: 4px var(--background_color);
    color: var(--background_color);
}

.btn.btn-dark:hover {
    background-color: #2fb1b1;
}

.btn:hover, .btn:focus {
    opacity: 1;
    filter: alpha(opacity=100);
    outline: 0 !important;
}

.btn:active,
.btn.active,
.open > .btn.dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
}

@media print {
    form, .dropdown-toggle, .dropdown, div.modal, div.modal-dialog, textarea, .edit_users, .btn, #edit_text {
        display: none;
    }

    * {
        color: #000;
        background-color: #fff;
    }
}

.notification-element {
    height: 2.5em;
}

.notification-text {
    font-size: 1em;
}

.notification-time {
    font-size: 0.8em;
    vertical-align: bottom;
    display: table-row;
}