/* Base Colours */
:root {
    --background_color: #FFFFFF;
    --element_color: #34CABF;
    --light_color: #3ff4e8;
    --dark_color: #13BBAF;
    --darker_color: #005C55;
}

/* Overriding navbar defaults for consistent navbar behaviour */
.navbar-default {
    /* Compatibility */
    background: #005C55;
    /* Standard syntax */
    background: linear-gradient(to bottom right, var(--darker_color), var(--dark_color));
    border-radius: 0;
    border-bottom: 2px solid #252525;
}

.navbar-default .navbar-brand {
    font-weight: 900;
    color: var(--background_color);
}

.navbar-default .navbar-brand:hover {
    color: var(--light_color);
}

.navbar-default .navbar-nav > li > a {
    color: var(--background_color);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: var(--light_color);
}

body {
    background-color: var(--background_color);
    margin-top: 60px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--element_color);
}

.login {
    margin-left: 5%;
}

h1, h2 {
    text-align: center;
}

form label {
    color: var(--element_color);
}

.login.buttons {
    overflow: hidden;
}

.login.buttons:first-child {
    float: left;
}

.login.buttons:nth-child(2) {
    float: left;
}

.create {
    margin-left: 5%;
}

.create label {
    color: var(--element_color);
    vertical-align: top;
}

.form-control:focus {
    border-color: var(--element_color);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--element_color);
}

.render.col-sm-12 {
    padding-top: 2%;
}

.user {
    text-align: center;
}

.avatar {
    padding-top: 3%;
}

.avatar img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.notifications {
    text-align: left;
}

.notification.col-sm-4 {
    text-align: right;
}

.btn.btn-light {
    background-color: transparent;
    filter: alpha(opacity=80);
    border: 2px solid var(--element_color);
    color: var(--element_color);
}

.btn.btn-light:hover {
    background-color: var(--element_color);
    color: var(--background_color);
    border-color: var(--element_color);
}

.btn.btn-dark {
    background-color: var(--element_color);
    font-weight: 400;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 8px 16px;
    border: 4px var(--background_color);
    color: var(--background_color);
}

.btn.btn-dark:hover {
    background-color: #2fb1b1;
}

.btn.btn-fill {
    color: var(--background_color);
    background-color: #888888;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn.btn-fill:hover,
.btn.btn-fill:focus,
.btn.btn-fill:active,
.btn.btn-fill.active,
.open > .btn.btn-fill.dropdown-toggle {
    background-color: #777777;
    color: var(--background_color);
}

.btn.btn-fill .caret {
    border-top-color: var(--background_color);
}

.btn .caret {
    border-top-color: #888888;
}

.btn:hover, .btn:focus {
    opacity: 1;
    filter: alpha(opacity=100);
    outline: 0 !important;
}

.btn:active,
.btn.active,
.open > .btn.dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
}

@media (max-width: 768px) {
    [class*="col-sm-"] {
        width: 100%;
        text-align: center;
    }
}

@media print {
    input, textarea, .edit_users, .btn, #edit_text {
        display: none;
    }

    * {
        color: #000;
        background-color: #fff;
    }
}
