<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block title %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'intune/custom.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'lib/moment.min.js' %}"></script>
    <script>moment.locale("en-gb");</script>
    <script src="{% static 'scripts/notify.js' %}"></script>

    {% block imports %}
    {% endblock imports %}
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'intune:index' %}">InTune</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'intune:index' %}">{{ request.user.username }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           id="notification-dropdown"
                           data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">NOTIFICATIONS
                            <span id="notification_counter" class="badge"
                                  data-user-id = "{{ request.user.id }}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" id="notification-menu">
                            <li><a href="#">No notifications!</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'intune:profile' %}">PROFILE</a></li>
                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div role="main">
{% block content %}
{% endblock content %}
</div>

{% block aux %}
{% endblock aux %}

{% block afterbody %}
{% endblock afterbody %}
</body>
</html>
