<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block title %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'intune/custom.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'scripts/notify.js' %}"></script>

    {% block imports %}
    {% endblock imports %}
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'intune:index' %}" style="color: var(--background_color)">InTune</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'intune:notifications'%}">NOTIFICATIONS (<span id="notification_count" data-ajax-target = "{% url 'intune:notification_count' %}">
    </span>)</a></li>
                    <li><a href="{% url 'intune:profile' %}">PROFILE</a></li>
                    <li><a href="#">SETTINGS</a></li>
                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container" role="main">
{% block content %}
{% endblock %}
</div>

{% block footer %}
{% endblock %}

{% block afterbody %}
{% endblock %}
</body>
</html>
