{% load static %}

{% block title %}
    <title>Room list</title>
{% endblock %}

{% load humanize %}

<div class="msgs"></div>
<div class="roomdiv" data-room-id="{{ composition.id }}" data-username="{{ user.username }}" data-user-id="{{ user.id }}">
    <div id="chats" class="pre-scrollable">
    {% for msg in chatmessage_list %}
        <div class="message">
            <strong> {{ msg.sender.user.username }}:</strong>
            {{ msg }}
            <span class='pull-right text-muted small'> {{ msg.time|naturaltime }} </span>
        </div>
    {% endfor %}
    </div>
    <form id="chat-box" class="form-inline">
        <input type="text" name="msg" id="chat-msg" class="form-control">
        <button id="send-msg" class="btn" type="submit">Send</button>
    </form>
</div>


{% block afterbody %}
    <script src="{% static 'intune/chat.js' %}"></script>
{% endblock afterbody %}