{% load static %}

{% block title %}
    <title>Room list</title>
{% endblock %}

{% load humanize %}

<h2> Chat for {{ composition.title }}</h2>
<div class="msgs"></div>
<div class="roomdiv" data-room-id="{{ composition.id }}" data-username="{{ user.username }}" data-user-id="{{ user.id }}">
    <div id="chats" class="pre-scrollable">
    {% for msg in chatmessage_list %}
        <div class="message">
            <span class='username'> {{ msg.sender.user.username }}:</span>
            <span class='msg'> {{ msg }} </span>
            <span class='time'> {{ msg.time|naturaltime }} </span>
        </div>
    {% endfor %}
    </div>
    <form id="chat-box">
        <input type="text" name="msg" id="chat-msg">
        <button id="send-msg" type="submit">Send</button>
    </form>
</div>


{% block afterbody %}
    <script src="{% static 'intune/chat.js' %}"></script>
{% endblock afterbody %}