{% extends "intune/base_layer.html" %}
{% load staticfiles %}

{% block imports %}
<script src="{% static 'lib/vextab-div.js' %}"></script>
<script src="{% static 'intune/vextab-renderer.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.2.1/lodash.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
{% endblock imports %}

{% block content %}

<h1>{{ composition.title }}</h1>

<div style="margin:auto; width:600px;">

    <canvas id="canvas-to-load"></canvas>
<div id="error"></div>
</div>

{% if composition.owner.user == request.user %}
<textarea id="to-render" style="display: none">
{% if composition.data %}{{ composition.data }}
{% else %}{{ composition.get_default_string }}
{% endif %}
</textarea>
{% endif %}

<div>
    <div class="pull-left">
        <a href="{% url 'intune:index' %}" class="btn btn-light" >Back</a>
    </div>
    <div class="pull-right">
        <button class="btn btn-light" style="" onclick="window.print();return false;">Print sheets</button>
    </div>
</div>

{% endblock content %}
