{% extends "intune/base_layer.html" %}

{% block title %}
    <title>User Homepage</title>
{% endblock %}

{% block content %}
{#    <h1>Hi {{ request.user }}!</h1>#}
    <h2>Your Compositions</h2>
    <div class="btn-new-composition">
        <a href="{% url 'intune:song_create' %}"><button type="button" class="btn btn-light">New Composition</button></a>
    </div>
    {% if composition_list %}
        <ul>
            {% for composition in composition_list %}
                <div class="composition-element">
                    <div class="row">
                        <div class="icon col-sm-2">
                            <span class="glyphicon glyphicon-music"></span>
                        </div>
                        <div class="info col-sm-8">
                            <li style="color: #34383b"><a href="{% url 'intune:song' composition.id %}">{{ composition.title }}</a></li>
                            <p>Last Edited: {{ composition.lastEdit }}</p>
                        </div>
                        <div class="edit col-sm-2">
                            <a href="{% url 'intune:song_edit' composition.id %}">
                            <button type="button" class="btn btn-dark">
                                <span class="glyphicon glyphicon-pencil"></span> Edit
                            </button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <h3 style="text-align: center">You have no compositions :(</h3>
    {% endif %}
{%  endblock %}
