{% extends "intune/base_layer.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}<title>{{ composition }}: Edit</title>{% endblock title %}

{% block imports %}
<link rel="stylesheet" type="text/css"
      href="{% static 'intune/composition_edit.css' %}">
<script src="{% static 'lib/vextab-div.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.2.1/lodash.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<script src="{% static 'scripts/csrf.js' %}"></script>
<script src="{% static 'scripts/render.js' %}"></script>
<script src="{% static 'scripts/editor.js' %}"></script>
<script src="{% static 'scripts/comments.js' %}"></script>

{# needed for autocomplete to work #}
{{ form.media }}
{% endblock imports %}

{% block content %}

{# --- Editor Navigation --- #}

<div class="container">
    <div class="row justify-content-between">
        <div class="col-sm-6 pull-left">
            <a href="{% url 'intune:index' %}" class="btn btn-default">Back</a>
            <a href="{% url 'intune:song' composition.id %}" class="btn btn-default">View Composition</a>
        </div>
        <div class="col-sm-6">
            <div class="dropdown pull-right">
                {# Sharing Composition #}
                {% if composition.owner.user == request.user %}
                <button type="button" class="btn btn-default dropdown-toggle"
                        id="share_button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Share
                <span class="caret"></span>
                </button>
                {% endif %}

                <div class="dropdown-menu" aria-labelledby="share_actions">
                    <form method="post" action="" id="shared-users-add">
                        {% csrf_token %}
                        <div class="edit_users">
                            <h6 class="container">Add/Remove shared users:</h6>
                            {{ form.users }}
                        </div>
                        <div class="container">
                            <button type="submit" class="btn btn-default">
                                Save
                            </button>
                        </div>
                    </form>
                </div>

                {# Print Composition #}
                <button type="button" class="btn btn-default"
                        onclick="window.print();return false;">
                    Print sheets
                </button>

                <button class="btn btn-default" id="chat-dropdown-toggle"
                        type="button">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span id="unread_chats" class="badge"></span>
                    <span class="caret"></span>
                </button>
                <div id="chat-dropdown" class="container dropdown">
                    <div class="dropdown-menu" id="chatbox-dropdown">
                        {% include "intune/chatroom.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1>{{ composition.title }}</h1>
    </div>

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="dropdown pull-right">
            <span class="glyphicon glyphicon-question-sign dropdown-toggle"
                  data-toggle="dropdown"
                  style="cursor:help; font-size:20px"></span>
                <div class="dropdown-menu">
                    <div class="container text-center">
                        <strong>What do the colours mean?</strong>
                    </div>
                    <ul id="canvas-help-menu">
                        <li><span class="render-error">Render error</span></li>
                        <li><span class="selected">Currently selected bar</span></li>
                        <li><span class="oth-user">Other users are editing that bar</span></li>
                        <li>(changes made to that bar might be overwritten)</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-2"></div>
    </div>
</div>

{# --- Main Block --- #}
<div class="row">
    {# Left Column #}
    <div class="col-md-2">
        {# -- Comments -- #}
        <div class="dropdown">
            <button style="margin-bottom: 1%" class="btn btn-dark dropdown-toggle"
                    type="button" data-toggle="collapse" data-target="#comments-div">
                Comments <span id="total-comments" class="badge">Select Bar</span>
                <span class="caret"></span>
            </button>

            <div class="collapse" id="comments-div">
                <form action="{% url 'intune:comment_create' %}" method="post" id="comment_form"
                      class="form-inline" data-composition-id="{{ composition.id }}"
                      autocomplete="off">
                    {% csrf_token %}
                    <input type="text" id="comment_text" class="form-control"
                           placeholder="Write a comment" required/>
                    {% buttons %}
                        <button type="submit" class="btn btn-light btn-xs">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    {% endbuttons %}
                </form>

                <div id="comment-block" class="comment-block"
                     data-room-id="{{ composition.id }}"
                     data-username="{{ user.username }}"
                     data-ajax-target="{% url 'intune:comments' %}"
                     data-user-id="{{ user.id }}">
                </div>

            </div>
        </div>
    </div>

    {# Center Column #}
    <div class="col-md-8 text-center">
        <div class="canvas-block" id="render_block"
             data-placeholder="Add a new bar by clicking the button below"
             data-composition-id="{{ composition.id }}"
             data-ajax-target="{% url 'intune:composition_attribute' composition.id %}"
             data-user-id="{{ request.user.id }}"></div>
    </div>

    {# Right Column #}
    <div class="col-md-2"></div>
</div>

{% endblock content %}

{# --- Editor Interface --- #}
{% block aux %}
{% include 'intune/editor.html' %}
{% endblock aux %}
