{% extends "intune/music_score_wrapper.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block imports %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'intune/composition_edit.css' %}">
    <script src="{% static 'lib/vextab-div.js' %}"></script>
    <script src="{% static 'intune/vextab-renderer.js' %}"></script>
    <script src="{% static 'intune/vextab-mod.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.2.1/lodash.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
{% endblock imports %}

{% block score %}

    <div class="container" style="margin:auto;width:600px;">
        <canvas id="canvas-to-load"></canvas>
        <div id="error"></div>
    </div>

    <div class="container-fluid">
        <div class="row"><div class="col-md-8 col-md-offset-2 text-center">
        <div class="btn-group" role="group" aria-label="Notation Selection">
            <button type="button" class="btn btn-default bravura">&#xE1D2;</button>
            {# Semibreve #}
            <button type="button" class="btn btn-default bravura">&#xE1D3;</button>
            {# Minim #}
            <button type="button" class="btn btn-default bravura">&#xE1D5;</button>
            {# Crotchet #}
            <button type="button" class="btn btn-default bravura">&#xE1D7;</button>
            {# Quaver #}
            <button type="button" class="btn btn-default bravura">&#xE1D9;</button>
            {# Semiquaver #}
            <button type="button" class="btn btn-default bravura">&#xE1E7;</button>
            {# Dotted Note #}
            <button type="button" class="btn btn-default bravura">&#xE4E5;</button>
            {# Rest #}
            <button type="button" class="btn btn-default bravura">&#xE260;</button>
            {# Flat #}
            <button type="button" class="btn btn-default bravura">&#xE264;</button>
            {# Double Flat #}
            <button type="button" class="btn btn-default bravura">&#xE261;</button>
            {# Natural #}
            <button type="button" class="btn btn-default bravura">&#xE262;</button>
            {# Sharp #}
            <button type="button" class="btn btn-default bravura">&#xE263;</button>
            {# Double Sharp #}
        </div>
        </div></div>

        <div class="row">
            <div class="col-md-2 text-center">
                <div class="btn-group-vertical" role="group" aria-label="Left Editor Buttons">
                    <button type="button" class="btn btn-default bravura">PLACEHOLDER</button>
                </div>
            </div>

            <div class="col-md-8 text-center">
            <form method="post" action="">
                {% csrf_token %}

                {% if composition.data %}
                    <textarea class="form-control" rows="10" name="data" maxlength="10000"
                              width="100%" id="to-render">{{ composition.data }}</textarea>
                {% else %}
                    <textarea class="form-control" rows="20" cols="160" name="data" maxlength="10000"
                              width="100%" id="to-render">{{ composition.get_default_string }}</textarea>
                {% endif %}
                <span class="container">
                {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
                </span>
            </form>
            </div>

            <div class="col-md-2 text-center">
                <div class="btn-group-vertical" role="group" aria-label="Right Editor Buttons">
                    <button type="button" class="btn btn-default bravura">PLACEHOLDER</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin:auto;width:600px;">
        <canvas id="canvas-to-load2"></canvas>
        <div id="error2"></div>
    </div>

    <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
        <textarea class="form-control" rows="10" name="data" maxlength="10000"
                  width="100%" style="display: none" id="staff-prop">
options space=20 tab-stems=true stave-distance=40 tab-stem-direction=down
tabstave notation=true key=C time=4/4 tablature=false
        </textarea>
        <textarea class="form-control" rows="20" cols="160" name="data" maxlength="10000"
                  width="100%" id="notes"></textarea>
        <div id="ECHO"></div>
    </div>
    </div>

{% endblock %}
