{% load staticfiles %}

<div class="editor-interface">
    {# Left Column #}
    <div class="col-md-3">
        <button type="button" class="btn btn-dark pull-right"
                data-toggle="modal" data-target="#user-guide">
            User Guide
        </button>
    </div>

    {# Middle Column #}
    <div class="col-md-6">
        <div class="row text-center">
            <div class="btn-group" role="group" aria-label="Notation Selection">
                {# Semibreve #}
                <button type="button" class="notation-select btn btn-default" data-text=":w">
                    <span class="bravura">&#xE1D2;</span><span class="hint-text">(:w)</span>
                </button>
                {# Minim #}
                <button type="button" class="notation-select btn btn-default" data-text=":h">
                    <span class="bravura">&#xE1D3;</span><span class="hint-text">(:h)</span>
                </button>
                {# Crotchet #}
                <button type="button" class="notation-select btn btn-default" data-text=":q">
                    <span class="bravura">&#xE1D5;</span><span class="hint-text">(:q)</span>
                </button>
                {# Quaver #}
                <button type="button" class="notation-select btn btn-default" data-text=":8">
                    <span class="bravura">&#xE1D7;</span><span class="hint-text">(:8)</span>
                </button>
                {# Semiquaver #}
                <button type="button" class="notation-select btn btn-default" data-text=":16">
                    <span class="bravura">&#xE1D9;</span><span class="hint-text">(:16)</span>
                </button>
                {# Dotted Note #}
                <button type="button" class="notation-select btn btn-default" data-text="d">
                    <span class="bravura">&#xE1E7;</span><span class="hint-text">(d)</span>
                </button>
                {# Rest #}
                <button type="button" class="notation-select btn btn-default" data-text="##">
                    <span class="bravura">&#xE4E5;</span><span class="hint-text">(##)</span>
                </button>
                {# Flat #}
                <button type="button" class="notation-select btn btn-default" data-text="@">
                    <span class="bravura">&#xE260;</span><span class="hint-text">(@)</span>
                </button>
                {# Double Flat #}
                <button type="button" class="notation-select btn btn-default" data-text="@@">
                    <span class="bravura">&#xE264;</span><span class="hint-text">(@@)</span>
                </button>
                {# Natural #}
                <button type="button" class="notation-select btn btn-default" data-text="n">
                    <span class="bravura">&#xE261;</span><span class="hint-text">(n)</span>
                </button>
                {# Sharp #}
                <button type="button" class="notation-select btn btn-default" data-text="#">
                    <span class="bravura">&#xE262;</span><span class="hint-text">(#)</span>
                </button>
                {# Double Sharp #}
                <button type="button" class="notation-select btn btn-default" data-text="##">
                    <span class="bravura">&#xE263;</span><span class="hint-text">(##)</span>
                </button>
            </div>
        </div>
        <div class="row text-center">
            <form method="post" action="{% url 'intune:bar_edit' %}" id="edit_form"
                  data-composition-id="{{ composition.id }}">

                <label for="edit_text"></label>
                <input type="text" class="form-control input-lg dynamic-textbox"
                       placeholder="Select a bar to begin editing!" id="edit_text"/>

                <div class="btn-group top-padded" role="group" aria-label="bar modifications">
                    <button type="submit" class="btn btn-default">Save</button>
                    <button type="button" class="btn btn-default" id="new_bar">New Bar</button>
                    <button type="button" class="btn btn-default" id="remove_bar">Remove Bar</button>
                </div>
            </form>
        </div>
    </div>

    {# Right Column #}
    <div class="col-md-3">
        {# Error Messages to User #}
        <div id="edit_error"></div>
        <div id="save_error"></div>
    </div>
</div>

<!-- Modal -->
<div id="user-guide" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <ul class="nav nav-tabs">
                  <li role="presentation" class="active">
                      <a href="#notation-guide-tab" data-toggle="tab">Notation Guide</a>
                  </li>
                  <li role="presentation">
                      <a href="#symbol-table-tab" data-toggle="tab">Syntax Guide</a>
                  </li>
                </ul>
            </div>

            <div class="modal-body tab-content">
                <div id="symbol-table-tab" class="tab-pane table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Name</th>
                            <th>Text Representation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="bravura-text large">&#xE1D2;</td>
                            <td>Whole Note / Semibreve</td>
                            <td>":w" or ":1"</td>
                        </tr>
                        <tr>
                            <td class="bravura-text large">&#xE1D3;</td>
                            <td>Half Note / Minim</td>
                            <td>":h" or ":2"</td>
                        </tr>
                        <tr>
                            <td class="bravura-text large">&#xE1D5;</td>
                            <td>Quarter Note / Crotchet</td>
                            <td>":q" or ":4"</td>
                        </tr>
                        <tr>
                            <td class="bravura-text large">&#xE1D7;</td>
                            <td>Quaver</td>
                            <td>":8"</td>
                        </tr>
                        <tr>
                            <td class="bravura-text large">&#xE1D9;</td>
                            <td>Semi-quaver</td>
                            <td>":16"</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div id="notation-guide-tab" class="tab-pane active">
                    <p>
                        The text input for notes is based on
                        <a href="http://www.vexflow.com/vextab/" target="_blank">VexTab</a>.
                    </p>
                    <p>
                        Although it may seem daunting to read and understand the language, once you get the
                        basic understanding of it, VexTab is actually a very versatile language for
                        music notation.
                    </p>
                    <p>
                        The basic layout of the notation that make up a note comprises <u>two</u> parts:
                    </p>
                    <ol>
                        <li>Duration</li>
                        <li>Pitch</li>
                    </ol>
                    <p>
                        Duration is determined by a <i>base</i> duration - whole/half/quarter/etc
                        (represented by ":w"/":h"/":q"/...) - then followed by an optional "dot" (d)
                        modifier. So if you want a dotted minim, you would key in ":hd".
                    </p>
                    <p>
                        Pitch is also a two part component: classic letters "C", "D", "E", etc. or guitar tabs
                        (in "1", "2", etc.), followed by an octave number, separated by a "/".
                        For example, if I want a middle C (C4), I would type "C/4".
                    </p>
                    <br>
                    <h6>Example usage:</h6>
                    <p>
                        To render <img src="{% static 'intune/example-canvas.png' %}">, just type the following:
                    </p>
                    <div class="well well-sm">:h C/4 :8 D/4 E/4 F/4 :16 A/4 B@/4</div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
{</div>
<!-- End Modal -->


{# Help Content #}
<div id="symbol_table" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Symbol Table</h4>
            </div>

            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Name</th>
                            <th>Text Representation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="bravura-text large">&#xE1D2;</td>
                            <td>Whole Note / Semibreve</td>
                            <td>":w" or ":1"</td>
                        </tr>
                        <tr>
                            <td class="bravura-text large">&#xE1D3;</td>
                            <td>Half Note / Minim</td>
                            <td>":h" or ":2"</td>
                        </tr>
                        <tr>
                            <td class="bravura-text large">&#xE1D5;</td>
                            <td>Quarter Note / Crotchet</td>
                            <td>":q" or ":4"</td>
                        </tr>
                        <tr>
                            <td class="bravura-text large">&#xE1D7;</td>
                            <td>Quaver</td>
                            <td>":8"</td>
                        </tr>
                        <tr>
                            <td class="bravura-text large">&#xE1D9;</td>
                            <td>Semi-quaver</td>
                            <td>":16"</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>