{% extends "intune/base_layer.html" %}
{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <div class="login">
        <h2 style="text-align: left">Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="buttons">
                <button type="submit" class="btn btn-light">Login</button>
                <a href="{% url 'intune:register' %}">
                <button type="button" class="btn btn-light">Register</button>
                </a>
            </div>
        </form>



    </div>
{% endblock %}

