{% extends "intune/base_layer.html" %}
{% load humanize %}

{% block title %}
    <title>Notifications</title>
{% endblock title %}

{% block content %}
    <h1>Notifications</h1>
    <div class="notifications">
        {% if notification_list %}
            {% for notification in notification_list %}
                <li><a href="{% url 'intune:song' notification.composition.id %}">
                    <div style="min-height: 50px; padding-top:14px" class="composition-element">
                        <div class="notification col-sm-8">
                            <p>{{ notification.sender }} {{ notification.msg }}</p>
                        </div>
                        <div class="notification col-sm-4">
                            <p>{{ notification.sent_at|naturaltime }}</p>
                        </div>
                    </div>
                </a>
                </li>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}