{% extends "intune/base_layer.html" %}
{% load humanize %}

{% block title %}
    <title>Notifications</title>
{% endblock title %}

{% block content %}
    <h1>Notifications</h1>
    <div class="col-sm-2"></div>
    <div class="notifications col-sm-8" id="notif-list">
        {% if notification_list %}
            <ul>
            {% for notification in notification_list %}
                <li><a href="{% url 'intune:song_edit' notification.composition.id %}">
                    <div class="composition-element notification-element">
                        <div class="notification col-sm-8">
                            <p>{{ notification.sender }} {{ notification.msg }}</p>
                        </div>
                        <div class="notification col-sm-4">
                            <p>{{ notification.sent_at|naturaltime }}</p>
                        </div>
                    </div>
                </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="col-sm-2"></div>
{% endblock %}